# Correcting or removing the problematic line
# attrs==0.3.2

# Correct packages and versions
attrs==21.3.0   # Example: Use the latest available version that matches your requirements
bpython==0.24
ConfigParser==7.0.0
contextlib2==21.6.0
cryptography==42.0.5
cx_Oracle==8.3.0
docutils==0.21.1
importlib-metadata==7.1.0
ipdb==0.13.13
ipython==8.12.3
ipywidgets==8.1.2
jnius==1.1.0
keyring==25.1.0
lockfile==0.12.2
migration==0.2a4.dev-r642
mock==5.1.0
mysqlclient==1.4.5
numpy==1.26.4
pyyaml==6.0.1
oracledb==2.1.2
Pillow==10.3.0
protobuf==5.26.1
psycopg==3.1.18
psycopg2==2.9.9
pylibmc==1.6.3
pymemcache==4.0.0
pyopenssl==24.1.0
pywatchman==2.0.0
PyYAML==6.0.1
railroad==0.5.0
special==0.2.6
Sphinx==7.3.6
tblib==3.0.0
thread==1.1.1
tornado==6.4
truststore==0.8.0
urllib3==1.26.7
xmlrpc==1.0.1
Django==3.2.8
