{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent & HIRE</title>

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'assets/favicon.ico' %}"
    />

    <link rel="stylesheet" href="{% static 'css/sSUnified.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sSIndex.css' %}" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Com3). ↓The nav Bar↓-->

    <!-- Com4).↓ this is the call element for the menu↓-->

    <div class="stacisFrame">
      <div class="logoFrame">
        <a href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" alt="logo" class="logo" />
        </a>
      </div>

      <!--↑ end of Com4). ↑-->
      <div class="Frame3">
        <div class="SearchFrame">
          <span onclick="toggleSearchWindow()">
            <a href="" target="iframe_a"></a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="42"
              width="40.25"
              viewBox="0 0 512 512"
            >
              <path
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
              />
            </svg>
          </span>
        </div>

        <div class="MenuHomeFrame">
          <span onclick="toggleNav()">&#9776; </span>
        </div>

        <div class="CartFrame">
          <a
            href="{% url 'cart-summary' %}"
            class="btn btn-outline-dark"
            style="border: 0; font-size: 5vh"
          >
            <i class="bi-cart-fill me-1"></i>
            <span
              class="badge bg-dark text-white ms-1 rounded-pill"
              id="cart_quantity"
            >
              {{ cart|length}}
            </span>
          </a>
        </div>
      </div>

      <div class="ProfileFrame">
        <a href="{% url 'profile' %}">
          {% load cropping %} {% for object in objects %}
          <!-- Ensure that 'object' is a model instance -->
          {% cropped_thumbnail object ratiofieldname %}

          <img
            src="{% cropped_thumbnail user.profile 'cropping' scale=1.5%}"
            default="background.PNG"
            alt="avatar"
            class="avatar"
          />
          {% endfor %}
        </a>
      </div>
      <!--↑ end of Com3). ↑-->
    </div>

    <div id="mySidenav" class="navBar">
      {% block MenuPullout %} {% endblock MenuPullout %}
    </div>

    {% block ImageBackground %} {% endblock ImageBackground %}

    <div class="spacerFrame"></div>

    <!--pop out menu-->
    <div id="mySearchWindow" class="linkWindow">
      <form method="GET" action="{% url 'search_items' %}">
        {% csrf_token %}
        <input placeholder="Search" type="search" name="search" />
        <button class="butt2" type="submit">Search</button>
      </form>
    </div>
    <div id="myItemWindow" class="siteMapWindow">
      <a href="javascript:void(0)" class="closebtn" onclick="closeItemWindow()"
        >&times;</a
      >
    </div>

    {% block content %}

    <!--page content-->

    {% endblock %}
    <!--↑ ↑-->
    <!--script for pop out menu-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; WESTMINSTER RENT & BUY 2023
        </p>
      </div>
    </footer>
    <script>
      function toggleNav() {
        var element = document.getElementById("mySidenav");
        if (element.style.width == "15vw") {
          element.style.width = "0";
        } else {
          element.style.width = "15vw";
        }
      }

      function openItemWindow() {
        var i = 0;
        while (i == 0) {
          if (document.getElementById("mySearchWindow").style.width == "85vw") {
            closeWindow();
          } else {
            closeNav();
            document.getElementById("myItemWindow").style.height = "80vh";
            var iframe = document.createElement("iframe");
            iframe.src = "demo_iframe.htm";
            iframe.name = "iframe_a";
            iframe.id = "siteMapFrame";
            iframe.height = "0";
            iframe.width = "0";
            iframe.title = "Iframe Example";
            document.getElementById("myItemWindow").appendChild(iframe);
            document.getElementById("siteMapFrame").style.width = "100vw";
            document.getElementById("siteMapFrame").style.height = "80vh";
            i++;
          }
        }
      }

      function closeItemWindow() {
        var iframes = document.querySelectorAll("iframe");
        for (var i = 0; i < iframes.length; i++) {
          iframes[i].parentNode.removeChild(iframes[i]);
        }
        document.getElementById("myItemWindow").style.height = "0";
      }

      function toggleSearchWindow() {
        var element = document.getElementById("mySearchWindow");
        if (element.style.height == "8vw") {
          element.style.height = "0";
        } else {
          element.style.height = "8vw";
        }
      }
    </script>
  </body>
</html>
