{% extends "base.html" %}
{% load static %}
{% block MenuPullout %}

    <div><a href="{% url 'profile' %}" class="navbar-button">Profile</a></div>
    <div><span onclick="toggleSearchWindow()"><a class="navbar-button" target="iframe_a">Search</a></span></div>
    <div><a href="/register" class="navbar-button">Register</a></div>
    <div><a href="/login" class="navbar-button">Login</a></div>




{% endblock MenuPullout %}

 

{% block content %}





<div id="main">
    <!--Com2).↓The Link Gallery↓-->
    
    
    <div class="ItemFrame">

        {% include 'index.html' %}



        
    </div>
        <!--↑ end of Com2). ↑-->



   
    


<!--↓close div class="main↓-->
</div>

{% endblock content %}
