{% extends "base.html" %}
{% load static %}
<!--href="http://localhost:3000/CodeBank/LoginPages/PHP/LogInPage.php"-->
{% block MenuPullout %}

    <div><a href="/login" class="navbar-button">Login</a></div>
    <div><a href="/register" class="navbar-button">Signup</a></span></div>
    <div><span onclick="openSearchWindow()"><a target="iframe_a">Search</a></span></div>
    <div><span onclick="openCartWindow()"><a href="http://localhost:3000/CodeBank/LoginPages/PHP/LogInPage.php">Cart</a></span></div>

{% endblock MenuPullout %}

 

{% block content %}





<div id="main">
    <!--Com2).↓The Link Gallery↓-->
    
    
    <div class="ItemFrame">

        

        <div class="gallery" id="gallery1"><span onclick="openItemWindow()">
            <a href="/login"  target="iframe_a">  
                <img src="{% static 'img/Fortnite.jpg' %}" alt="Fortnite" width="1024" height="10124">
            </a></span>
            <div class="desc"> Battle Royale</div>
        </div>
        
        <div class="gallery" id="gallery2"><span onclick="openItemWindow()">
            <a href="/CodeBank/FunctionalityPages/HTML/itemSubPage.html" target="iframe_a">  
                <img src="{% static 'img/skyrim.jpg' %}" alt="Skyrim" width="1024" height="10124">
            </a></span>
            <div class="desc">RPG</div>
        </div>
        
        <div class="gallery" id="gallery3"><span onclick="openItemWindow()">
            <a href="/CodeBank/FunctionalityPages/HTML/itemSubPage.html" target="iframe_a">  
                <img src="{% static 'img/MWII.jpg' %}" alt="MWII" width="1024" height="10124">
            </a></span>
            <div class="desc">FPS</div>
        </div>

        <div class="gallery" id="gallery4"><span onclick="openItemWindow()">
            <a href="/CodeBank/FunctionalityPages/HTML/itemSubPage.html" target="iframe_a">  
                <img src="{% static 'img/maxresdefault.jpg' %}" alt="AOE" width="1024" height="10124">
            </a></span>
            <div class="desc">Stratergy</div>
            </div>
        
    </div>
        <!--↑ end of Com2). ↑-->



   
    


<!--↓close div class="main↓-->
</div>

{% endblock content %}
<!--
</head>
<body>
<nav class="navbar">
    <div class="container">
        <a href="/" class="navbar-brand">Home Page</a>
        <div class="navbar-links">
            <a href="#" class="navbar-link">New Item</a>
            <a href="#" class="navbar-link">Browse</a>
            <a href="/register" class="navbar-button">Sign Up</a>
            <a href="/login" class="navbar-button">Login</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Welcome to the Bookings Page!</h1>
            <p class="lead">..</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>About</h3>
                <p>...</p>
            </div>
            <div class="col-md-6">
                <h3>Menu</h3>
                <ul class="footer-menu">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>-->
