{% extends "base.html" %} {% load static %} {% block MenuPullout %}

<div><a href="{% url 'profile' %}" class="navbar-button">Profile</a></div>
<div><a href="{% url 'cart-summary' %}">Cart</a></div>
<div>
  <span onclick="toggleSearchWindow()"
    ><a class="navbar-button" target="iframe_a">Search</a></span
  >
</div>
<div><a href="" class="navbar-button">Settings</a></div>

{% if user.is_authenticated %}
<!-- User is logged in, show logout link -->
<div><a href="{% url 'logout' %}" class="navbar-button">Logout</a></div>
{% else %}
<!-- User is not logged in, show register and login links -->
<div><a href="{% url 'register' %}" class="navbar-button">Register</a></div>
<div><a href="{% url 'login' %}" class="navbar-button">Login</a></div>
{% endif %} {% endblock MenuPullout %} {% block ImageBackground %}

<div class="backgroundImage">
  <img src="{% static 'img/background.PNG' %}" id="background" />
</div>

{% endblock ImageBackground %} {% block content %}

<div id="main">
  <!--Com2).↓The Link Gallery↓-->
  <div class="ItemFrame">{% include 'index.html' %}</div>
  <!--↑ end of Com2). ↑-->
</div>

{% endblock content %}
