{% extends "base.html" %}
{% load static %}
{% block MenuPullout %}

    <div><a href="{% url 'home' %}" class="navbar-button">home</a></div>
    <div><a href="{% url 'profile' %}" class="navbar-button">Profile</a></span></div>
    <div><a href="{% url 'cart-summary' %}">Cart</a></div>
    <div><a class="navbar-button" target="iframe_a">Search</a></div>
    <div><a href="" class="navbar-button">Settings</a></span></div>
    <div><a href=" {% url 'logout' %}" class="navbar-button">Logout</a></div>

{% endblock MenuPullout %}

{% block ImageBackground %}

<div class="backgroundImage"  >
    <img src={% static 'img/background.PNG' %} id="background" >
</div>

{% endblock ImageBackground %}

{% block content %}

<div class="container">
    <br/>
    <div class="card mb-3">
        <div class="row g-0"> 
            <div class="col-md-4">
                <img src="{{ item.img.url }}" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8" style="max-width: 25vw;" >
                <div class="card-body">
                    <h3 class="card-title">{{item.name}}</h3>                    
                    {{item.description|linebreaksbr}}
                </div>
            </div>
            <div class="col-md-9" style="max-width: 25vw;" >
                <div class="card-body">
                    <br><br>
                    <h3 class="card-title">Product Type : {{item.category}}</h3>
                    <br>
                    <h3 class="card-title">Rental Period: {{item.period}}</h3>
                    <button  class="butt3" value="{{item.id}}" id ="add_cart"> Add Item </button>
                

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //chech if button pressed
    $(document).on('click', '#add_cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart-add' %}",
            data: {
                item_id: $('#add_cart').val(),
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                //console.log(json)
                document.getElementById("cart_quantity")
                    textContent = json.qty
                    location.reload();

            },

            error: function(xhr, errmsg, err){

            }

        });
    })

</script>



{% endblock content %}
