{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="itemDiv">
    <img src="{% static 'img/skyrim.jpg' %}" alt="Skyrim" width="1024" height="10124">
    <div class="textDiv">
        <h1>Iteam Name</h1>
        <p>Item Description</p>
        <button class="butt1" type="">Info</button>
    </div>
    


</div>

{% endblock content %}


<div class="gallery" id="gallery2"><span onclick="openItemWindow()">
    <a href="/CodeBank/FunctionalityPages/HTML/itemSubPage.html" target="iframe_a">  
        <img src="{% static 'img/skyrim.jpg' %}" alt="Skyrim" width="1024" height="10124">
    </a></span>
    <div class="desc">RPG</div>
</div>