{% extends "base.html" %} {% load static %} {% block MenuPullout %}
<div><a href="{% url 'home' %}" class="navbar-button">Home</a></div>
<div><a href="{% url 'profile' %}" class="navbar-button">Profile</a></div>
<div><a href="{% url 'cart-summary' %}" class="navbar-button">Cart</a></div>
<div><a href="#" class="navbar-button" target="iframe_a">Search</a></div>
<div><a href="#" class="navbar-button">Settings</a></div>
<div><a href="{% url 'logout' %}" class="navbar-button">Logout</a></div>
{% endblock MenuPullout %} {% block ImageBackground %}
<div class="backgroundImage">
  <img src="{% static 'img/background.PNG' %}" id="background" />
</div>
{% endblock ImageBackground %} {% block content %}
<div class="container">
  <br />
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ item.image.url }}"
          class="img-fluid rounded-start"
          alt="Item Image"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ item.name }}</h3>
          <p class="card-text">{{ item.description|linebreaksbr }}</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card-body">
          <h4>Product Type: {{ item.type }}</h4>
          <h4>Rental Period: {{ item.period }}</h4>
          <button
            class="btn btn-primary btn-sm"
            id="add_cart"
            data-item-id="{{ item.id }}"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // Listen for click on add_cart button
    $(document).on("click", "#add_cart", function (e) {
      e.preventDefault();
      var item_id = $(this).data("item-id");
      $.ajax({
        type: "POST",
        url: "{% url 'cart-add' %}",
        data: {
          item_id: item_id,
          csrfmiddlewaretoken: "{{ csrf_token }}",
          action: "post",
        },
        success: function (json) {
          // Update cart quantity and reload page
          $("#cart_quantity").text(json.qty);
          location.reload();
        },
        error: function (xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText); // Log error message
        },
      });
    });
  });
</script>

{% endblock content %}
