{% extends "base.html" %}
{% load static %}
{% block MenuPullout %}

    <div><a href="{% url 'home' %}" class="navbar-button">Home</a></div>
    <div><a href="{% url 'cart-summary' %}">Cart</a></div>
    <div><span onclick="toggleSearchWindow()"><a class="navbar-button" target="iframe_a">Search</a></span></div>
    <div><a href="{% url 'password_change' %}" class="navbar-button">Change Password</a></div>
    <div><a href="{% url 'update-user' %}" class="navbar-button">Update User</a></div>
    <div><a href=" {% url 'logout' %}" class="navbar-button">Logout</a></div>


{% endblock MenuPullout %}

{% block ImageBackground %}

<div class="backgroundImage"  >
    <img src={% static 'img/profileImg.png' %} id="background" >
</div>

{% endblock ImageBackground %}

{% block content %}





<div id="main">
    <!--Com2).↓The Link Gallery↓-->
    
    
    <div class="ItemFrame">

        {% include 'historicalIndex.html' %}

        
    </div>
        <!--↑ end of Com2). ↑-->



   
    


<!--↓close div class="main↓-->
</div>

{% endblock content %}
